footer {
	.widget__container {
		// background-color: $white;
		padding: 1rem;
		.contact__box {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem 0;
			border-bottom: 1px solid $brown;
			figure {
				figcaption {
					display: none;
				}
				img {
					width: 100%;
					max-width: 100px !important;
				}
			}
			.widget_custom_html {
				width: 100%;
			}
			.contact__box--item {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				i {
					color: $green;
					font-size: .9rem;
					margin-right: .8rem;
					margin-top: 2px;
				}
				h6 {
					font-family: 'Open Sans', Helvetica, sans-serif;
					font-size: .8rem;
				}
			}
		}
		.column {
			&:last-of-type {
				.contact__box {
					border: 0;
				}
			}
		}
	}
	.social {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 1rem 0;
		// background-color: $beige;
		i {
			color: $brown;
			font-size: 2.5rem;
			margin: 0 .3rem;
		}
	}
	.widget__websites {
		background-color: $white;
		padding: 2rem 0 0;
		.widget__websites--large {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.widget__websites--small {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 2rem;
			img {
				width: 100%;
				max-width: 140px;
				margin: 0 1rem;
			}
		}
	}
	.copyright {
		background-color: $green;
		color: $white;
		font-size: .8rem;
		text-align: center;
		padding: .5rem 2rem;
		h6 {
			font-family: 'Open Sans', Helvetica, sans-serif;
		}
		a {
			text-decoration: underline;
		}
	}
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {
	footer {
		.widget__container {
			padding: 2rem 0;
			.column {
				border-right: 1px solid $brown;
				&:last-of-type {
					border: 0;
				}
			}
			.contact__box {
				border-bottom: 0;
				padding: 0 1rem;
			}
		}
		.social {
			padding: 2rem .5rem;
		}
	}
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}