.entry__breadcrumbs {
	display: none;
}
/* Medium and up */
@media screen and (min-width: 40em) {}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}
/* Large and up */
@media screen and (min-width: 64em) {
	.entry__breadcrumbs {
		display: block;
		position: absolute;
		top: 35px;
		font-family: 'Oranienbaum', serif;
		letter-spacing: -0.02em;
		color: $black;
		font-size: .8rem;
		i {
			margin: 0 .5rem;
		}
		.entry__breadcrumbs--item {
			a {				
				&:hover {
					color: $green;
					border-bottom: 1px solid $green;
				}
			}
			.entry__breadcrumbs--item-current {
				color: $brown;
				border-bottom: 1px solid $brown;
			}
		}
	}
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}